<!DOCTYPE html>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      Animation
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <button class="btn btn-primary" id="btn_instant">
        Instant
      </button>
    </div>
    <div class="col-sm-12 col-md-3">
      <button class="btn btn-primary" id="btn_max">
        Maximum
      </button>
    </div>
    <div class="col-sm-12 col-md-3">
      <button class="btn btn-primary" id="btn_lost">
        Lost user
      </button>
    </div>
    <div class="col-sm-12 col-md-3">
      <button class="btn btn-primary" id="btn_optimal">
        Optimal
      </button>
    </div>
  </div>
  <div class="row anims">
    <div class="col-sm-12 col-md-3 instant">
      <div class="container-popdown">
        <div class="popdown container">
          <h2>100ms</h2>
          <p>Instant Action</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 max">
      <div class="container-popdown">
        <div class="popdown">
          <div class="container">
            <h2>1s</h2>
            <p>Maximum time before user lose focus</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 lost">
      <div class="container-popdown">
        <div class="popdown">
          <div class="container">
            <h2>10s</h2>
            <p>User disconnected</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 optimal">
      <div class="container-popdown">
        <div class="popdown container">
          <h2>200ms-300ms</h2>
          <p>Optimal time</p>
        </div>
      </div>
    </div>
  </div>
</div>
