td {
  text-align: center;
}

td > input {
  text-align: center;
  line-height: 32px;
  border: 1px solid #cdcdcd;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
